@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
nav{
    margin: 20px 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 20px;
    
}
.left a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: orangered;
    font-weight: bold;
}
.right i{
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    color: white;
}
.right button{
    border-radius: 40px;
    margin: 0 10px;
    padding: 3px 20px;
}
.input-group span{
    background-color: orangered;
    color: white;
}
section .row{
    margin: 0 50px;
}
#Content{
    padding-top: 20%;
    width: 40%;
}
#Content p span{
    color: orange;
    font-weight: 600;
}
section .row .col-4 img{
    margin-right: 20px;
    padding: 5px;
    border-radius:200px;
}
#one{
    margin-top: 100px;
}
#three{
    margin-top: 100px;
}

.dummy{
    margin-top: 50px;
}

.dummy h2{
    font-weight: bold;
}
.boxes{
    margin: 0 20%;
    
}
.box{
    border: 2px solid black;
    height: 90px;
    width: 90px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-right: 50px;
    opacity: 0.3;
}
.recommendation h2{
    margin: 20px 90px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 35px;
}

.carousel-item{
    margin: 30px 0px;
}
.carousel-item p{
    margin: 10px 300px;
}
.carousel-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}
.carousel-item button{
    background-color: transparent;
    border: 1px solid orange;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
}
.carousel-item button:hover{
    background-color: orangered;
    color: white;
   
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.review h2{
    margin: 20px 90px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 35px;
}

.swiper {
    width: 100%;
    height: 100%;
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
  }

.swiper-wrapper{
margin-bottom: 50px;
}
